.StepButton-d0-1-2-6.completed {
  background-color: green !important;
}
.StepButton-d2-1-2-12.completed {
  background-color: green !important
}
.StepButton-d4-1-2-20.completed {
  background-color:green !important;
}
.StepButton-d6-1-2-26.completed {
  background-color:green !important;
}
.row-p{
  
    color: white;
    border-radius: 10px;
    padding: 23px !important;
    background: #e2232a;
}


